
.util {
    &-uppercase {
        text-transform: uppercase;
    }

    &-w100 {
        width: 100%;
    }

    &-xxlarge {
        font-size: xx-large;
    }

    &-xlarge {
        font-size: x-large;
    }

    &-large {
        font-size: large;
    }

    &-medium {
        font-size: medium;
    }

    &-small {
        font-size: small;
    }

    &-xsmall {
        font-size: x-small;
    }
}

.pad {
    &-l-r-0 {
        padding-left: 0;
        padding-right: 0;
    }

    &-b-15{
        padding-bottom:15px;
    }
}
