@import '_vars';
@import '_utils';

/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #2c3e50 0%, #090A0F 100%);
    overflow: hidden;
}

@function star-speckles ($n, $speckle) {
    $value: '#{random(2000)}px #{random(2000)}px #{$speckle}';

    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{$speckle}'
    }

    @return unquote($value);
}

@mixin color-defines-css($defcolor) {

    .panel {
        -moz-transition: background-color 0.3s linear 0s;
        -o-transition: background-color 0.3s linear 0s;
        -webkit-transition: background-color 0.3s linear 0s;
        transition: background-color 0.3s linear 0s;
    }

    .content {
        md-slider-container {
            md-slider {
                .md-track-container {
                    .md-track {
                        &.md-track-fill {
                            background-color: $defcolor;
                            -moz-transition: background 0.3s linear;
                            -o-transition: background 0.3s linear;
                            -webkit-transition: background 0.3s linear;
                            transition: background 0.3s linear;
                        }
                    }
                }

                .md-thumb-container {
                    .md-thumb,
                    .md-thumb::after {
                        background-color: $defcolor;
                        border-color: $defcolor;
                        -moz-transition: background 0.3s linear, border 0.3s linear;
                        -o-transition: background 0.3s linear, border 0.3s linear;
                        -webkit-transition: background 0.3s linear, border 0.3s linear;
                        transition: background 0.3s linear, border 0.3s linear;
                    }

                    .md-focus-ring {
                        background-color: rgba($defcolor, 0.5);
                        -moz-transition: background 0.3s linear;
                        -o-transition: background 0.3s linear;
                        -webkit-transition: background 0.3s linear;
                        transition: background 0.3s linear;
                    }
                }
            }
        }

        .death-star:not(.colorFix) {
            background: $defcolor;

            .death-star-bg {
                background: linear-gradient(0deg, $defcolor 0%, $defcolor 50%, darken($defcolor, 5%) 50%, darken($defcolor, 5%) 100%);
            }

            .death-star-mark {
                background: linear-gradient(0deg, darken($defcolor, 20%) 0%, darken($defcolor, 20%) 50%, darken($defcolor, 35%) 50%, darken($defcolor, 35%) 100%);
            }

            .death-star-mark-shell {
                background-color: darken($defcolor, 50%);
            }
        }
    }
}

body {

    @each $key, $value in $defaultPalettes {
        &.#{$key} {
            @include color-defines-css( $value );
        }
    }

    background: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    top: 0px;

    .stars-bg {

        &-xs {
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: star-speckles(700, #fff);
            -moz-animation: animStar 50s linear infinite;
            -o-animation: animStar 50s linear infinite;
            -webkit-animation: animStar 50s linear infinite;
            animation: animStar 50s linear infinite;

            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 1px;
                height: 1px;
                box-shadow: star-speckles(700, #fff);
                background: transparent;
            }
        }

        &-md {
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: star-speckles(200, #fff);
            -moz-animation: animStar 100s linear infinite;
            -o-animation: animStar 100s linear infinite;
            -webkit-animation: animStar 100s linear infinite;
            animation: animStar 100s linear infinite;

            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 2px;
                height: 2px;
                box-shadow: star-speckles(200, #fff);
                background: transparent;
            }
        }

        &-lg {
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: star-speckles(100, #fff);
            -moz-animation: animStar 150s linear infinite;
            -o-animation: animStar 150s linear infinite;
            -webkit-animation: animStar 150s linear infinite;
            animation: animStar 150s linear infinite;

            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 3px;
                height: 3px;
                box-shadow: star-speckles(100, #fff);
                background: transparent;
            }
        }
    }

    .color-switcher {
        height: 275px;
        width: 100%;

        .accent-picker {
            height: 275px;
            margin: 0;
            overflow: hidden;
            padding: 30px 0;

            &-close {
                width: 24px;
                height: 24px;
                background-size: contain;
                position: absolute;
                top: 30px;
                right: 30px;
                cursor: pointer;

                &:active {
                    -moz-transform: scale(0.95,0.95);
                    -ms-transform: scale(0.95,0.95);
                    -o-transform: scale(0.95,0.95);
                    -webkit-transform: scale(0.95,0.95);
                    transform: scale(0.95,0.95);
                }
            }

            label {
                font-size: medium;
                margin: 0;
                font-weight: 500;
            }

            .settings-color-picker {
                margin: 0 auto;
                width: 200px;
                height: 200px;
                position: relative;
                -moz-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                -o-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
                left: -30px;

                .color-plate {
                    width: 120px;
                    height: 48px;
                    position: absolute;
                    left: 127px;
                    -moz-transform-origin: 0 24px;
                    -ms-transform-origin: 0 24px;
                    -o-transform-origin: 0 24px;
                    -webkit-transform-origin: 0 24px;
                    transform-origin: 0 24px;
                    top: 140px;
                    border-radius: 7%;
                    border: 2px solid #e0e0e0;
                    -moz-transform: rotate(-150deg) scale(1,1);
                    -ms-transform: rotate(-150deg) scale(1,1);
                    -o-transform: rotate(-150deg) scale(1,1);
                    -webkit-transform: rotate(-150deg) scale(1,1);
                    transform: rotate(-150deg) scale(1,1);
                    outline: none;

                    &:active {
                        -moz-transform: scale(0.90, 0.90);
                        -ms-transform: scale(0.90, 0.90);
                        -o-transform: scale(0.90, 0.90);
                        -webkit-transform: scale(0.90, 0.90);
                        transform: scale(0.90, 0.90);
                    }

                    &.ng-enter {
                        -moz-animation: color_track_pl_enter 0.3s linear;
                        -o-animation: color_track_pl_enter 0.3s linear;
                        -webkit-animation: color_track_pl_enter 0.3s linear;
                        animation: color_track_pl_enter 0.3s linear;
                    }
                }
            }
        }
    }

    .panel {
        background-color: #f0f0f0;
        height: 102px;
        width: 100%;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        margin: 0;
        border-radius: 0;

        &.ng-hide-remove {
            -moz-animation: show-start-play 1s ease 0s;
            -o-animation: show-start-play 1s ease 0s;
            -webkit-animation: show-start-play 1s ease 0s;
            animation: show-start-play 1s ease 0s;
        }

        &.ng-hide-add {
            -moz-animation: collapse-start-play 0.5s ease 0s;
            -o-animation: collapse-start-play 0.5s ease 0s;
            -webkit-animation: collapse-start-play 0.5s ease 0s;
            animation: collapse-start-play 0.5s ease 0s;
        }

        &.ng-hide {
            opacity: 0;
        }

        @include respond-to-xsmobi {
            height: 65px;
        }

        &-profile-data {
            height: 102px;
            width: 100%;
            position: relative;
            padding: 15px;

            @include respond-to-mobile {
                z-index: 9;
            }

            @include respond-to-xsmobi {
                height: 65px;
                padding: 5px 15px;
            }
        }

        &-picture-container {
            height: 72px;
            width: 72px;
            float: left;

            svg {
                position: relative;
                width: 132px;
                height: 82px;
                top: -5px;

                g path {
                    fill: #000;
                }

                @include respond-to-xsmobi {
                    width: 120px;
                    height: 60px;
                    left: -15px;
                    top: -2px;
                }
            }
        }

        &-action-container {
            width: calc(100% - 100px);
            height: 72px;
            float: right;
            margin-right: 15px;

            @include respond-to-xsmobi {
                margin-right: 0;
            }

            &-btn {
                background-color: transparent;
                -moz-border-radius: 5%;
                -webkit-border-radius: 5%;
                border-radius: 5%;
                display: inline-block;
                cursor: pointer;
                text-transform: uppercase;
                font-size: small;
                padding: 0 10px;
                line-height: 36px;
                position: relative;
                top: 18px;
                text-decoration: none;
                border: 2px solid #000;
                margin: 0 0 0 30px;
                outline: none;
                -moz-transition: transform 0.1s linear 0s;
                -o-transition: transform 0.1s linear 0s;
                -webkit-transition: transform 0.1s linear 0s;
                transition: transform 0.1s linear 0s;
                font-family: 'Open Sans', sans-serif;
                -moz-transition: all 0.3s linear 0s;
                -o-transition: all 0.3s linear 0s;
                -webkit-transition: all 0.3s linear 0s;
                transition: all 0.3s linear 0s;
                color: #000;
                border-color: #000;

                &:hover {
                    background: #000;
                    color: #fff;
                }

                span.glyphicon {
                    margin-right: 5px;
                }

                &:active {
                    -moz-transform: scale(0.95,0.95);
                    -ms-transform: scale(0.95,0.95);
                    -o-transform: scale(0.95,0.95);
                    -webkit-transform: scale(0.95,0.95);
                    transform: scale(0.95,0.95);
                }

                @include respond-to-xsmobi {
                    height: 36px;
                    width: 36px;
                    overflow: hidden;
                    top: 9px;
                    line-height: 36px;
                    margin-left: 15px;

                    .text {
                        display: none;
                    }
                }
            }
        }
    }

    .cursor {
        width: 36px;
        height: 36px;
        border: 2px solid #fff;
        border-radius: 50%;
        position: absolute;
        top: 10vh;
        left: 10vh;
        z-index: 999;
        pointer-events: none;
        margin-left: -18px;
        margin-top: -18px;

        &:before {
            content: "";
            width: 48px;
            height: 48px;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            top: -8px;
            left: -8px;
        }

        &:after {
            content: "";
            width: 10px;
            height: 10px;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            top: 11px;
            left: 11px;
            background: #fff;
        }
    }

    .content {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        overflow: hidden;
        cursor: crosshair;
        z-index: 2;

        &-help {
            position: absolute;
            width: 100%;
            height: 100%;

            &-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.85;
                z-index: 998;
            }

            &-data {
                position: absolute;
                width: 410px;
                height: 350px;
                background: #f0f0f0;
                z-index: 999;
                margin: calc(0.5 * (100vh - 452px)) calc(0.5 * (100% - 410px));

                @include respond-to-xsmobi {
                    width: 310px;
                    margin: calc(0.5 * (100vh - 415px)) calc(0.5 * (100% - 310px));
                }

                img {
                    width: 100%;
                }

                label {
                    font-family: 'Open Sans', sans-serif;
                    font-size: medium;
                    font-weight: 400;
                    padding: 10px;
                    color: #303030;
                    margin: 15px auto 0 auto;
                    width: 80%;
                    display: block;
                    text-align: center;
                }

                &-btn {
                    background-color: transparent;
                    -moz-border-radius: 5%;
                    -webkit-border-radius: 5%;
                    border-radius: 5%;
                    display: inline-block;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: small;
                    padding: 0 10px;
                    line-height: 36px;
                    position: relative;
                    text-decoration: none;
                    border: 2px solid #000;
                    margin: 0 0 0 30px;
                    outline: none;
                    -moz-transition: transform 0.1s linear 0s;
                    -o-transition: transform 0.1s linear 0s;
                    -webkit-transition: transform 0.1s linear 0s;
                    transition: transform 0.1s linear 0s;
                    font-family: 'Open Sans', sans-serif;
                    -moz-transition: all 0.3s linear 0s;
                    -o-transition: all 0.3s linear 0s;
                    -webkit-transition: all 0.3s linear 0s;
                    transition: all 0.3s linear 0s;
                    color: #000;
                    display: block;
                    margin: 15px auto 30px auto;
                    min-width: 100px;

                    &:hover {
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }

        &-destroyed-holder {
            position: absolute;
            width: 100%;
            top: 15px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: medium;
            font-weight: 400;
            color: #fff;
            opacity: 0;
            margin: 0;

            &.show {
                -moz-animation: show-id-ephemeral 1s linear;
                -o-animation: show-id-ephemeral 1s linear;
                -webkit-animation: show-id-ephemeral 1s linear;
                animation: show-id-ephemeral 1s linear;
            }
        }

        $j: 50;

        @while $j <= 150 {
            &[starsize="#{$j}"] {
                .death-star {
                    width: #{$j}px;
                    height: #{$j}px;
                }
            }

            $j: $j + 5;
        }

        &-start-play {
            height: 30vh;
            width: 100%;
            margin: calc(0.40 * (80vh)) auto;

            &.ng-hide-add {
                -moz-animation: hide-start-play 1s ease;
                -o-animation: hide-start-play 1s ease;
                -webkit-animation: hide-start-play 1s ease;
                animation: hide-start-play 1s ease;
            }

            ng-include {
                height: 20vh;
                margin: 0 auto;
                display: block;
            }

            svg {
                height: 20vh;
                margin: 0 auto;
                display: block;

                g path {
                    fill: $starWarsTheme;
                }
            }

            &-btn {
                -moz-box-shadow: 0px 0px 0px 0px $starWarsTheme;
                -webkit-box-shadow: 0px 0px 0px 0px $starWarsTheme;
                box-shadow: 0px 0px 0px 0px $starWarsTheme;
                background-color: transparent;
                color: $starWarsTheme;
                -moz-border-radius: 41px;
                -webkit-border-radius: 41px;
                border-radius: 41px;
                display: inline-block;
                cursor: pointer;
                text-transform: uppercase;
                font-size: large;
                padding: 18px 38px;
                text-decoration: none;
                border: 2px solid $starWarsTheme;
                display: block;
                margin: 30px auto 0 auto;
                outline: none;
                -moz-transition: transform 0.1s linear 0s;
                -o-transition: transform 0.1s linear 0s;
                -webkit-transition: transform 0.1s linear 0s;
                transition: transform 0.1s linear 0s;
                font-family: 'Open Sans', sans-serif;
                opacity: 0;
                min-width: 100px;

                &.show {
                    -moz-animation: show-btn 0.5s linear;
                    -o-animation: show-btn 0.5s linear;
                    -webkit-animation: show-btn 0.5s linear;
                    animation: show-btn 0.5s linear;
                    opacity: 1;
                }

                &:active {
                    -moz-transform: scale(0.95,0.95);
                    -ms-transform: scale(0.95,0.95);
                    -o-transform: scale(0.95,0.95);
                    -webkit-transform: scale(0.95,0.95);
                    transform: scale(0.95,0.95);
                }
            }
        }

        &.panelActive {
            height: calc(100vh - 102px);

            @include respond-to-xsmobi {
                height: calc(100vh - 65px);
            }
        }

        .death-star {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0;
            z-index: 2;
            overflow: hidden;
            background: #e8e8e8;
            opacity: 0;
            -webkit-box-shadow: 10px 10px 70px 17px rgba(0,0,0,0.37);
            -moz-box-shadow: 10px 10px 70px 17px rgba(0,0,0,0.37);
            box-shadow: 10px 10px 70px 17px rgba(0,0,0,0.37);
            -moz-transition: background 1s ease-in-out 0s;
            -o-transition: background 1s ease-in-out 0s;
            -webkit-transition: background 1s ease-in-out 0s;
            transition: background 1s ease-in-out 0s;
            cursor: crosshair;

            &.hovered {
                outline: 2px dotted #e74c3c;
            }

            @each $key, $value in $defaultPalettes {
                &.colorFix[color="#{$key}"] {
                    background: $value;

                    .death-star-bg {
                        background: linear-gradient(0deg, $value 0%, $value 50%, darken($value, 5%) 50%, darken($value, 5%) 100%);
                    }

                    .death-star-mark {
                        background: linear-gradient(0deg, darken($value, 20%) 0%, darken($value, 20%) 50%, darken($value, 35%) 50%, darken($value, 35%) 100%);
                    }

                    .death-star-mark-shell {
                        background: darken($value, 50%);
                    }
                }
            }


            &.show {

                &-anim {
                    -moz-animation: show-death-star 0.5s forwards;
                    -o-animation: show-death-star 0.5s forwards;
                    -webkit-animation: show-death-star 0.5s forwards;
                    animation: show-death-star 0.5s forwards;
                }

                opacity: 1;
            }

            &.move-anim{
                transition: transform 1s ease-in-out 0s;
            }

            &.destroy {
                -moz-animation: destroy-death-star 0.5s forwards;
                -o-animation: destroy-death-star 0.5s forwards;
                -webkit-animation: destroy-death-star 0.5s forwards;
                animation: destroy-death-star 0.5s forwards;
            }

            &-bg {
                width: 400%;
                height: 200%;
                position: absolute;
                top: -50%;
                left: -50%;
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                z-index: 3;
                -moz-transition: background 0.3s linear;
                -o-transition: background 0.3s linear;
                -webkit-transition: background 0.3s linear;
                transition: background 0.3s linear;

                &.active {
                    -moz-animation: rotate-death-star 2.5s infinite linear;
                    -o-animation: rotate-death-star 2.5s infinite linear;
                    -webkit-animation: rotate-death-star 2.5s infinite linear;
                    animation: rotate-death-star 2.5s infinite linear;
                }
            }

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                background-color: #2c3e50;
                opacity: 0.30;
                top: 50%;
                z-index: 3;
                -moz-transition: background 0.3s linear;
                -o-transition: background 0.3s linear;
                -webkit-transition: background 0.3s linear;
                transition: background 0.3s linear;
            }

            &-mark {
                position: absolute;
                width: 33%;
                height: 33%;
                border-radius: 50%;
                z-index: 4;
                top: 12%;
                left: 34%;
                -moz-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                -o-transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
                outline: none;
                cursor: crosshair;
                -moz-transition: background 0.3s linear;
                -o-transition: background 0.3s linear;
                -webkit-transition: background 0.3s linear;
                transition: background 0.3s linear;

                &.active {
                    -moz-animation: rotate-death-star-mark 6.0s infinite linear;
                    -o-animation: rotate-death-star-mark 6.0s infinite linear;
                    -webkit-animation: rotate-death-star-mark 6.0s infinite linear;
                    animation: rotate-death-star-mark 6.0s infinite linear;
                }

                &-shell {
                    width: 10%;
                    height: 10%;
                    border-radius: 50%;
                    position: absolute;
                    top: 22.5%;
                    left: 45%;
                    z-index: 5;
                    cursor: crosshair;
                }
            }
        }

        &-pane {
            width: 400px;
            height: 100vh;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
            z-index: 100;
            -moz-transition: transform 0.3s linear 0s;
            -o-transition: transform 0.3s linear 0s;
            -webkit-transition: transform 0.3s linear 0s;
            transition: transform 0.3s linear 0s;

            @include respond-to-xsmobi {
                width: 100vw;
            }

            md-switch {
                margin: 8px 0;

                &.md-checked {
                    .md-container {
                        .md-bar {
                            background-color: rgba(0,0,0,0.50);
                        }
                    }

                    .md-thumb {
                        background-color: #303030;
                    }

                    &.md-focused {
                        .md-thumb:before {
                            background: rgba(0,0,0,0.50);
                        }
                    }
                }
            }

            &.ng-hide {
                opacity: 0;
                -moz-transform: translateX(330px);
                -ms-transform: translateX(330px);
                -o-transform: translateX(330px);
                -webkit-transform: translateX(330px);
                transform: translateX(330px);
            }

            &-close {
                width: 48px;
                height: 48px;
                color: #303030;
                line-height: 48px;
                text-align: center;
                float: right;
                cursor: pointer;

                &:active {
                    -moz-transform: scale(0.95,0.95);
                    -ms-transform: scale(0.95,0.95);
                    -o-transform: scale(0.95,0.95);
                    -webkit-transform: scale(0.95,0.95);
                    transform: scale(0.95,0.95);
                }
            }

            &-title {
                font-family: 'Open Sans', sans-serif;
                line-height: 48px;
                width: calc(100% - 48px);
                height: 48px;
                margin: 0;
                padding: 0 15px;
                float: left;
                color: #303030;
                font-size: large;
                font-weight: 400;
            }

            &-data {
                width: 100%;
                height: calc(100vh - 48px);

                &.settings {
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                }

                md-content.content-pane-data-tabs {
                    background: none;

                    md-tabs {
                        md-tabs-wrapper {
                            md-tabs-canvas {
                                md-pagination-wrapper {

                                    md-ink-bar {
                                        color: #303030;
                                        background-color: #303030;
                                    }

                                    mb-tab-item {

                                        .md-ripple-container {
                                            color: #303030;
                                        }

                                        &.md.tab {
                                            &.md-active {
                                                font-weight: bold;
                                                color: #303030;

                                                span {
                                                    color: #303030;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &-item {
                    padding: 30px 15px;

                    &.pad-b-15 {
                        padding-bottom: 15px;
                    }

                    &-label {
                        font-size: medium;
                        margin: 0;
                        font-weight: 500;
                    }

                    md-slider-container {
                        md-slider {
                            .md-track-container {
                                .md-track {
                                    &.md-track-fill {
                                        background-color: #303030;
                                        -moz-transition: background 0.3s linear;
                                        -o-transition: background 0.3s linear;
                                        -webkit-transition: background 0.3s linear;
                                        transition: background 0.3s linear;
                                    }
                                }
                            }

                            .md-thumb-container {
                                .md-thumb,
                                .md-thumb::after {
                                    background-color: #303030;
                                    border-color: #303030;
                                    -moz-transition: background 0.3s linear, border 0.3s linear;
                                    -o-transition: background 0.3s linear, border 0.3s linear;
                                    -webkit-transition: background 0.3s linear, border 0.3s linear;
                                    transition: background 0.3s linear, border 0.3s linear;
                                }

                                .md-focus-ring {
                                    background-color: rgba(#303030, 0.5);
                                    -moz-transition: background 0.3s linear;
                                    -o-transition: background 0.3s linear;
                                    -webkit-transition: background 0.3s linear;
                                    transition: background 0.3s linear;
                                }
                            }
                        }
                    }
                }

                &-filter {
                    width: 200px;
                    height: 48px;

                    label {
                        font-family: 'Open Sans', sans-serif;
                        line-height: 48px;
                        width: auto;
                        height: 48px;
                        margin: 0;
                        padding: 0 15px;
                        float: left;
                        color: #303030;
                        font-size: small;
                        font-weight: 400;
                        position: relative;
                        top: -8px;
                    }
                }

                &-list {
                    width: 100%;
                    height: calc(100vh - 135px);
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                    padding: 0;

                    &-item {
                        width: 100%;
                        height: 48px;
                        border-bottom: 1px solid lighten(#303030, 70%);

                        label {
                            font-family: 'Open Sans', sans-serif;
                            line-height: 48px;
                            width: calc(100% - 48px);
                            height: 48px;
                            margin: 0;
                            padding: 0 15px 0 0;
                            float: left;
                            color: #303030;
                            font-size: small;
                            font-weight: 400;
                            float: left;
                        }

                        &-remove {
                            width: 48px;
                            height: 48px;
                            color: #303030;
                            line-height: 48px;
                            text-align: center;
                            float: right;
                            cursor: pointer;

                            &:active {
                                -moz-transform: scale(0.95,0.95);
                                -ms-transform: scale(0.95,0.95);
                                -o-transform: scale(0.95,0.95);
                                -webkit-transform: scale(0.95,0.95);
                                transform: scale(0.95,0.95);
                            }
                        }

                        &.ng-enter-stagger {
                            -webkit-animation-delay: 0.1s;
                            -moz-animation-delay: 0.1s;
                            -o-animation-delay: 0.1s;
                            animation-delay: 0.1s;
                            -webkit-animation-duration: 0;
                            -moz-animation-duration: 0;
                            -o-animation-duration: 0;
                            animation-duration: 0;
                        }

                        &.ng-leave-stagger {
                            -webkit-animation-delay: 0s;
                            -moz-animation-delay: 0s;
                            -o-animation-delay: 0s;
                            animation-delay: 0s;
                            -webkit-animation-duration: 0;
                            -moz-animation-duration: 0;
                            -o-animation-duration: 0;
                            animation-duration: 0;
                        }

                        &.ng-enter {
                            -webkit-animation: anim_item_pl_enter 0.3s;
                            -moz-animation: anim_item_pl_enter 0.3s;
                            -o-animation: anim_item_pl_enter 0.3s;
                            animation: anim_item_pl_enter 0.3s;
                        }

                        &.ng-leave {
                            -webkit-animation: anim_track_pl_leave 0.5s;
                            -moz-animation: anim_track_pl_leave 0.5s;
                            -o-animation: anim_track_pl_leave 0.5s;
                            animation: anim_track_pl_leave 0.5s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes anim_track_pl_enter {
    0% {
        opacity: 0;
        -moz-transform: translatX(-50px);
        -ms-transform: translatX(-50px);
        -o-transform: translatX(-50px);
        -webkit-transform: translatX(-50px);
        transform: translatX(-50px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes double-bounce-anim {
    0%, 100% {
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    50% {
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes animStar {
    from {
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
}


@keyframes rotate-death-star {
    0% {
        left: -375%;
    }

    100% {
        left: 75%;
    }
}

@keyframes rotate-death-star-mark {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes show-death-star {
    0% {
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }

    70% {
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
}


@keyframes destroy-death-star {
    0% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    70% {
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
        -webkit-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
        opacity: 0.5;
    }

    100% {
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
        opacity: 0;
    }
}


@keyframes hide-start-play {
    0% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
        opacity: 0;
    }
}


@keyframes show-start-play {
    0% {
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes collapse-start-play {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes anim_item_pl_enter {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    70% {
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes show-btn {
    0% {
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(1.10,1.10);
        -ms-transform: scale(1.10,1.10);
        -o-transform: scale(1.10,1.10);
        -webkit-transform: scale(1.10,1.10);
        transform: scale(1.10,1.10);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
}


@keyframes show-id-ephemeral {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
